<app-header></app-header>
<div class="pad container">
    <div class="container">
      <table class="table table-striped table-inverse">
        <thead class="thead-inverse">
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th colspan="2"></th>
          </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let task of tasks.tasks">
              <td scope="row">{{task.title}}</td>
              <td>{{task.description}}</td>
              <td *ngIf="task.is_complete !== 'false'">
                <select class="custom-select mr-sm-2 btn alert-{{task.is_complete}} btn" id="inlineFormCustomSelect">
                  <option selected>Choose...</option>
                  <option value="1" (click)="[taskStatus('success', task.id)]" class=" alert btn-success">Done</option>
                  <option value="2" (click)="[taskStatus('danger', task.id)]">Cancelled</option>
                  <option value="3" (click)="[taskStatus('info', task.id)]">In progress</option>
                </select></td>
              <td><a [routerLink]="['/taskedit', task.id]" class=""><i class="fas fa-edit"></i></a></td>
              <td><button (click)="[deletetask(task.id)]" class="btn btn-danger card-link"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
          </tbody>
      </table>
    </div>