
 <section id="home-section" class="main-banner">
        <div class="bg-gradient">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <!--Banner Left-Text-->
                        <div class="banner-text">
                            <h1 class="big-text">Task Tracking Application</h1>
                            <p class="content">Built fortracking tasks.It allow user to create, edit and delete tasks.</p>
                            <button class="btn orange-btn">More</button>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12 pull-right">
                      <!--Login Div-->
                        <div class="loginDiv clearfix">
                            
                            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate class="form-signin">
                                    <div class="form-group">
                                            <h2 class="h3 mb-3 font-weight-normal float-right" style="color: white">login</h2>
                                            </div>
                              <div class="form-group" *ngIf="message === 'Auth failed'"><h2 class="alert btn-danger" >{{message}} </h2></div>
                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                        <label for="email"><i class="fas fa-envelope-open"></i></label>
                                    <input type="email" name="email" [(ngModel)]="model.email" #email="ngModel" required placeholder="Email"/>
                                    <div *ngIf="f.submitted && !email.valid" class="help-block text-danger">Email is required</div>
                                </div>
                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                        <label for="password"><i class="fas fa-unlock"></i></label>
                                    <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required=""/>
                                    <div *ngIf="f.submitted && !password.valid" class="help-block text-danger">Password is required</div>
                                </div>
                                <div class="form-group">
                                    <div class="p-t-20">
                                            <button class="btn btn-success float-right" type="submit">Login</button>
                                    <a [routerLink]="['/registration']" class="btn btn-info float-left">Register</a>
                                        </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

