<app-header></app-header>

<section id="home-section" class=" pad">
        <div class="bg-gradient">
            <div class="container">
                <div class="row">
                   
                    <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                      <!--Login Div-->
                        <div class="loginDiv clearfix">
                            
                                <form name="form" (ngSubmit)="f.form.valid && updateUser()" #f="ngForm" novalidate class="form-signup">
                                        <div class="form-group">
                                                <h2 class="h3 mb-3 font-weight-normal float-right" style="color: white">Update</h2>
                                                </div>


                                    <div class="input-group form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="name" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required placeholder="Name"/>
                                        <div *ngIf="f.submitted && !name.valid" class="help-block text-danger">Name is required</div>
                                    </div>
                                    <div class="input-group form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope-open"></i></span>
                                        </div>
                                    
                                        <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required placeholder="Email"/>
                                        <div *ngIf="f.submitted && !email.valid" class="help-block text-danger">Email is required</div>
                                    </div>

                                    <div class="form-group" >
                                        <input type="file" (change)="onFileChanged($event)">
                                    </div>
                                        <div class="input-group form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-unlock"></i></span>
                                            </div>
                                            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password"/>
                                            <div *ngIf="f.submitted && !password.valid" class="help-block text-danger">Password is required</div>
                                        </div>
                                        <div class="form-group">
                                                <div class="p-t-20">
                                            <button  class="btn btn-success float-right" type="submit">Update User</button>
                                            </div>
                                        </div>
                                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    